<%= render 'shared/nav' %>

<h2 id = "text-center"> Hello there <%= current_user.first_name %>, here are your products </h2>
<% @products.each do |product| %>
  <div class="post-container">
    <a href = "/products/<%= product.id %>" style="text-decoration:none">         
      <div class="post-thumb"><img src="<%= product.image_url %>" /></div>
      <div class="post-content">
          <h3 class="post-title"> <%= product.name %> </h3>
          <h3 class="post-title"> <%= product.category %> </h3>
          <h5 class = "post-title"> Current price: <%= product.price.last %> &nbsp &nbsp &nbsp Target price: <%= product.target_price %> </h5>
          <% if product.available == true %>
            <h5 class = "post-center-yes"> Available </h5>
          <% else %>
            <h5 class = "post-center-no"> Not available </h5>
          <% end %>
     </div>
    </a>
  </div>
  <br> <br> <br>
<% end %>