<br>
<%= render 'shared/nav' %>
  <% if @product.user_id == current_user.id %>
  <h2 id = "text-center"> Product details </h2>
  <div class="post-container">                
      <div class="post-thumb"><img src="<%= @product.image_url %>" /></div>
      <div class="post-content">
          <h3 class="post-title"> <%= @product.name %> </h3>
          <h3 class="post-title"> <%= @product.category %> </h3>
          <h5 class = "post-title"> Current price: <%= @product.price.last %> &nbsp &nbsp &nbsp Target price: <%= @product.target_price %> </h5>
          <% if @product.available == true %>
            <h5 class = "post-center-yes"> Available </h5>
          <% else %>
            <h5 class = "post-center-no"> Not available </h5>
          <% end %>
     </div>
  </div>

  <br>
  <% ctr = 1.to_i %>
  <hr>
  <br>
  <table border = "1" width = "100%">
    <tr>
    <td>
      <table border="1" width="100%">
        <tr>
          <th class = "ok"> No. </th>
          <th class = "ok"> Price </th>
          <th class = "ok"> Time </th>
        </tr>

        <%= @product.price.zip(@product.time) do |price, time| %>
          <tr>
            <td> <%= ctr %> </td>
            <td> Rs. <%= price %> </td>
            <td> <%= time %> </td>
          </tr>
          <% ctr = ctr + 1 %>
        <% end %>
      </table>
    </td>
    </tr> 
  </table>
  <br>
  <hr>
  <h2 id = "text-center"> Product graph </h2>
  <%= line_chart Hash[@product.time.zip(@product.price)]  %>
<% else %>
  <h2 class = "text-center"> Sorry, you are not the owner of this product </h2>
<% end %>