<%= render 'shared/nav' %>
<h2 id = "text-center"> Product details </h2>
<% if @product.user_id == current_user.id %>
  <% @product.price.push(get_price_from_link(@product.flipkart_link)) %> 
  <% t = Time.now %>
  <% @product.time.push(t.to_s[11..15] + ", " + t.to_s[8..9] + " " + month_no_to_name(t.to_s[5..6].to_i) + " " +  t.to_s[0..3]) %>
  <% @product.save! %>
  <div class="post-container">                
      <div class="post-thumb"><img src="<%= @product.image_url %>" /></div>
      <div class="post-content">
          <h3 class="post-title"> <%= @product.name %> </h3>
          <h3 class="post-title"> <%= @product.category %> </h3>
          <h5 class = "post-title"> Current price: <%= @product.price.last %> &nbsp &nbsp &nbsp Target price: <%= @product.target_price %> </h5>
          <% if @product.available == true %>
            <h5 class = "post-center-yes"> Available </h5>
          <% else %>
            <h5 class = "post-center-no"> Not available </h5>
          <% end %>
     </div>
  </div>

  <br> <br>
  <% ctr = 1.to_i %>
  <table border = "1" width = "100%">
    <tr>
    <td>
      <table border="1" width="100%">
        <tr>
          <th> No. </th>
          <th> Price </th>
          <th> Time </th>
        </tr>

        <%= @product.price.zip(@product.time) do |price, time| %>
          <tr>
           <td> <%= ctr %> </td>
           <td> Rs. <%= price %> </td>
           <td> <%= time %> </td>
          </tr>
          <% ctr = ctr + 1 %>
        <% end %>
      </table>
    </td>
    </tr> 
  </table>
  <br>
  <%= line_chart Hash[@product.time.zip(@product.price)]  %>
<% else %>
  <h3 class = "center"> Sorry, the product you're searching for does not belong to you </h3>
<% end %>